@font-face {
  font-family: 'FuturaBold';
  font-style: normal;
  font-weight: 400;
  src: 
    local('Futura1'),  
    url('./fonts/FuturaNewCondBook.otf') format('opentype');
}

@font-face {
  font-family: 'FuturaLight';
  font-style: normal;
  font-weight: 400;
  src: 
    local('Futura2'),  
    url('./fonts/FuturaNewLight.otf') format('opentype');
}

@font-face {
  font-family: 'FuturaOblique';
  font-style: normal;
  font-weight: 400;
  src: 
    local('Futura3'),  
    url('./fonts/FuturaNewMediumOblique.otf') format('opentype');
}

.App {
  text-align: center;
  font-family: 'FuturaBold';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    filter: brightness(150%);
  }
}

.logobar {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.logobar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 75px;
  margin-left: 20px;
  background: rgb(0,0,0,0.5);
  margin-block-end: 0;
  height: 100px;
  box-shadow: 50px 0 50px rgba(0,0,0,0.3), 0 10px 10px rgba(0,0,0,0.16);
  border-top: 1px blue solid;
  border-bottom: 1px blue solid;

}

.logobar li {
  font-family: 'FuturaBold';
  letter-spacing: 15px;
  float: left;
  font-size: 45px;
  color: rgb(255,255,255,0.8);
  padding: 20px 60px 20px 60px;
  height: auto;
  margin: 0;
  transition: 0.3s;
}

.logobar li:hover {
  background: rgb(255,255,255,0.3);
  cursor: pointer;
}

.logobar p {
  color: white;
  font-size: 35px;
  margin-right: 10px;
  margin-left: 30px;
  font-style: italic;
  vertical-align: -5px;
  font-family: 'FuturaOblique';
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.logo {
  width: 200px;
  height: 200px;
  margin: 30px;
  -webkit-animation:spin 30s linear infinite;
  -moz-animation:spin 30s linear infinite;
  animation:spin 30s linear infinite;
}

.content {
  background: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 100px rgba(0,0,0,1) inset;
}

.nav {
  display: flex;
}